<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.button" >

    <!-- Application Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Application Features -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".ButtonApplication"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen Activity -->
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                        android:scheme="vnd.android.nfc"
                        android:host="ext"
                        android:pathPrefix="/io.button:button"/>
            </intent-filter>
        </activity>

        <!-- Sign Up or Login Activity -->
        <!--<activity-->
                <!--android:name=".activity.SignUpOrLoginActivity">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Sign Up Activity &ndash;&gt;-->
        <!--<activity-->
                <!--android:name=".activity.SignUpActivity">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Login Activity &ndash;&gt;-->
        <!--<activity-->
                <!--android:name=".activity.LoginActivity">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Button Claim Activity &ndash;&gt;-->
        <!--<activity-->
                <!--android:name=".activity.ButtonClaimActivity">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Button View Activity &ndash;&gt;-->
        <!--<activity-->
                <!--android:name=".activity.ButtonViewActivity">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Main Activity &ndash;&gt;-->
        <!--<activity-->
                <!--android:name=".activity.MainActivity">-->
        <!--</activity>-->


    </application>

</manifest>
